
FaceDetector/obj/Debug/netcoreapp3.1/apphost.exe
FaceDetector/obj/Debug/netcoreapp3.1/FaceDetector.GeneratedMSBuildEditorConfig.editorconfig
FaceDetector/obj/FaceDetector.csproj.nuget.dgspec.json
FaceDetector/obj/FaceDetector.csproj.nuget.g.props
FaceDetector/obj/project.assets.json
FaceDetector/obj/project.nuget.cache
